body {
 
    background-image: url("../imagens/fundo\ atualizado.jfif");
    background-repeat: no-repeat;
    background-size: 1920px 1000px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*CLASSES*/
.CardInte{
    background-color: #0f250d;
    width: 570px;
    height: 400px;
    box-shadow: -1px -1px 15px 15px black;
    border-radius: 10px;
    display: flex;
    margin-left: 700px;
    margin-top: 250px;
    
}
.login{
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-left: 20%;
}


/*ID*/
#texto1card{
    width: 400px;
    margin-top: 25px;
    margin-left: 38%;
    font-size: 60px;
    color: #daa520 ;
    
}
#texto2card{

    width: 400px;
    margin-left: 30%;
    margin-top: -40px;
    font-size: 50px;
    color: #daa520 ;
    
}

#move-inp{
    margin-top: -20px;
    margin-left: 100px;
}

#btn-Acessar{
    width: 200px;
    height: 30px;
    border: 0px;
    background-color: #0f250d;
    font-size: 30px;
    color: #daa520;
    margin-left: 50%;
    margin-top: 20px;
}
#btn-Acessar:hover{

    color: #ad870a;

}

a{
    list-style: none;
    text-decoration: none;
}

form{
    width: 100%;
    max-width: 350px;
    padding: 2%;
}

.single-input{
    position: relative;
    margin: 30px 0;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: rgb(0, 0, 0);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input{
    width: 380px;
    height: 25px;
    padding: 0px;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: 0;
    font-size: 40px;
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}
.input:focus,
.input:valid{
    border-bottom: 2px solid rgb(0, 0, 0);
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-30px);
    font-size: 20px;
    color: rgb(255, 255, 255);
}
